/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    background:#F5F7FB;
    color:#1F2937;
}

button{
    font-family:inherit;
    cursor:pointer;
}

input,
select,
textarea{
    font-family:inherit;
}

#root{
    width:100%;
    min-height:100vh;
}